<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiUrl" value="https://api.tfl.gov.uk/Road/{0}?app_id={1}&amp;app_key={2}"/>
    <add key="ApiId" value="yourId"/>
    <add key="ApiKey" value="yourKey"/>    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>